/*********************
/** Reset ************
**********************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
p {
	font-size: 18px;
	clear: both;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

/** Fonts
**************** */

@font-face {
	font-family: "Neue Haas Unica Pro";
	src: url(../fonts/NeueHaasUnicaPro/NeueHaasUnicaPro-Regular.ttf);
}

@font-face {
	font-family: "Neue Haas Unica Pro";
	src: url(../fonts/NeueHaasUnicaPro/NeueHaasUnicaPro-Heavy.ttf);
	font-weight: bold;
}

body {
	font-family: "Neue Haas Unica Pro";
}

/** Grid system/responsiveness
***************** */
.row {
}

.row:before, .row:after {
  clear:both;
  content:"";
  display:table;
}

.column {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
  width: 100%; //Mobile first
}

/** Navigation Bar
***************** */
$active-link-font-color: #9A9A9A;

.nav-bar {
	height: 69px;
	padding: 30px 30px 0 0;
}

.main-logo-wrapper {
	display: inline-block;
}

.main-logo {
	background-size: contain;
	background-image: url('../images/icon_bear_mobile.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 69px;
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	width: 89px;
}


.nav-menu-wrapper {
	display: inline-block;
	font-size: 19px;
	width: calc(100% - 89px);
	text-align: right;
}

.nav-menu {
	vertical-align:middle;

	li {
		display: inline-block;
		margin-right: 25px;

		a:hover {
			text-decoration: underline;
		}
	}


	.greyed-out {
		color: lighten(grey, 1);
	}
	.active {
		font-weight: bold;
	}

}

/** Same for all the pages
********************** */
.container {
	max-width: 850px;
	padding: 60px 30px 0 30px;
}

h1 {
	font-size: 50px;
	line-height: 56px;
	margin-bottom: 20px;
}

.row.no-margin {
	margin-bottom: 0px;
}

/** Landing
********** */
.landing-container {
	position: relative;

	.main-logo {
		background-image: url('../images/icon_landing_mobile.png');
		height: 247px;
		left: 0;
		position: absolute;
		top: 96px;
		width: 317px;
	}

	a {
		text-decoration: underline;
	}

	p {
		font-size: 24px;
		left: 30px;
		line-height: 38px;
		max-width: 375px;
		position: absolute;
		top: 379px;
		width: 90%;
	}

	footer {
		position: absolute;
		top: 793px;
		width: 100%;
	}
}

/** About/Landing page
********************** */
.introduction {

	margin-bottom: 50px;

	p {
		font-size: 22px;
		line-height: 27px;
		margin-bottom: 22px;
	}
}

//What we can do
.what, .why {

	margin-bottom: 50px;

	h2 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	h3 {
		line-height: 27px;
	}
	p {
		line-height: 27px;
		font-size: 18px;
		width: 284px;
	}

	.column {
		margin-bottom: 30px;
	}

	.row:last-child .column:last-child {
		margin-bottom: 0;
	}
}

/** Works
*********** */
.work-logo-container {
	align-items: center;
	border: 1px solid black;
	box-sizing: border-box;
	display: flex;
	height: 233px;
	padding: 45px;
	table-layout: fixed;
	width: 100%;

	img {
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
	}
}

.work-item p {
	line-height: 27px;
	margin: 15px auto 5px auto;
	width: 100%;
}

.work-paragraph {
	line-height: 27px;
	margin: 15px auto 30px auto;
	width: 100%;
}

.detail {
	color: grey;
	margin-bottom: 50px;

	a {
		text-decoration: underline;
	}
}

/** Single Work ******************
********************************* */
.single-work {
	font-size: 22px;
	line-height: 34px;
	img {
		max-height: 100%;
		max-width: 100%;
	}

	ul {
		padding: 0 0 0 25px;
		list-style-type: disc;
	}

	h2 {
		margin-bottom: 20px;
	}

	.gallery {
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;

		img {
			margin: auto;
			max-height: 90vh;
		}
	}
	.role {
		color: #888888;
		font-size: 16px;
		margin-bottom: 20px;
	}

	.zero-margin-bottom {
		margin-bottom: 0;
	}

	.row {
		margin-bottom: 30px;
	}
	p {
		font-size: inherit;
	}
	a {
		text-decoration: underline;
	}
}

/** Contact **********************
********************************* */

.input-field {
	border: 1px solid black;
	box-sizing: border-box;
	font-size: 22px;
	width: 100%;
}

.input-container * {
	display: block;
}

.input-container {
	label {
		font-size: 25px;
		margin-bottom: 20px;
	}
	input {
		@extend .input-field;
		height: 65px;
		margin-bottom: 30px;
		padding: 0 20px;
	}
	textarea {
		@extend .input-field;
		height: 120px;
		font-size: 22px;
		padding: 10px 20px;
	}
}

.send-btn {
	background-color: black;
	border: 0px;
	color: white;
	font-size: 25px;
	height: 65px;
	margin-top: 30px;
	width: 135px;
}
/** Footer
*********** */
footer {

	color: #666666;
	line-height: 1.25em;
	.container {
		max-width: 100%;
		padding: 15px 30px;
	}

	.separator {
		background-color: #CCCCCC;
		height: 1px;
		margin-bottom: 15px;
		overflow: hidden;
		width: 100%;
	}

	a {
		vertical-align: top;
		text-decoration: underline;
	}
}



/** Global overrides
*******/
ul > :first-child { margin-left: 0; margin-top: 0;}
ul > :last-child { margin-bottom: 0; margin-right: 0; }

.sm-hide {
	display: none !important;
	visibility: collapse !important;
}

@media (min-width: 700px) {

	/** Grid system
	**************** */
	.row {
		margin-bottom: 48px;
	}
	.col-1 {
		width: 50%;
	}

	.col-2 {
		width: 100%;
	}

	.column {
		padding-right: 75px;
	}

	.sm-hide {
		display: inline-block !important;
		visibility: visible !important;
	}

	/** Same for all the pages
	********************** */
	.container {
		padding: 70px 30px 0 80px;
	}
	h1 {
		margin-bottom: 45px;
	}
	.role {
		margin-bottom: 45px; //TODO: PUT UNDER SINGLE WORK
	}
	/** Navigation bar
	******************** */
	.main-logo {
		height: 85px;
		width: 110px;
	}

	.nav-menu-wrapper {
		width: calc(100% - 110px);
	}
	.nav-bar {
		height: 85px;
		padding: 50px 80px 0 0;
	}
	.nav-menu {
		li {
			margin-right: 40px;
		}
	}

	/** Landing page
	************************ */
	.landing-container {
		.main-logo {
			background-image: url('../images/icon_landing_desktop.png');
			height: 551px;
			left: 0;
			position: absolute;
			top: 61px;
			width: 713px;
		}

		p {
			left: 396px;
			max-width: none; //We set it earlier for mobile
			top: 582px;
			width: 525px;
		}

		footer {
			top: 932px;
		}
	}
	/** About/Landing page
	************************* */
	.introduction {
		margin-bottom: 130px;

		p {
			width: 550px;
		}
	}

	.what, .why {

		.column {
			margin-bottom: 0;
		}

		.row:last-child {
			margin-bottom: 0;
		}
	}
	/***** Single Work ***
	******************** */
	.single-work {
		.gallery {
			img {
				max-height: 732px;
			}
		}
	}

	/***** Footer
	************ */
	footer {
		.container {
			padding-left: 80px;
			padding-right: 80px;
		}
	}
}
