extends layout

block content
	div.container
		div.introduction
			h1 About Kuma Studio
			p.
				At Kuma, we tinker with software. See us as the two guys in the garage jamming with code and pixels.
			p.
				We work hard to make our experiments become practical and valuable interactions in people's lives—we believe software can be very empowering. For doing so, we know we have to put people first and foremost. Software an empathetic and rigorous endeavour. 
			p. 
				Occasionally, we find clients we really like—usually, they like us too. They come with their ideas, their goals and together, we think, design and build. 
		
		div.what
			h2 What we can do
			div.row
				div.column.col-1
					h3 Mobile web
					p
						| Today, people access the Internet from their phones. It's the future of the web and 100% of our products are designed mobile-first. 
				div.column.col-1
					h3 Web
					p
						| Do you need a landing page, ecommerce shop or a blog? We can do that too. 
			div.row
				div.column.col-1
					h3 iOS
					p
						| We've released a couple apps to the App Store. Actually this whole adventure started because of iOS. We know the drill inside out.  
				div.column.col-1
					h3 Design
					p
						| Need interaction, interface or brand design work? 
		
		div.why
			h2 Why
			div.row
				div.column.col-1
					h3 Mobile
					p
						| We were born after 1990. To us, mobile is both natural and unstoppable. 
				div.column.col-1
					h3 User-centered
					p
						| We design and build around the people who will use the products. This is how we ensure the quality of our work. We are empathetic and interaction-driven. 
			div.row
				div.column.col-1
					h3 Our team
					p
						| We are a tight-knit team and love working together. We have almost perfect complementarity resulting in neat productivity and interdisciplinary ideas.
				div.column.col-1
					h3 Project management
					p
						| We design and build around the people who will use the products. This is how we ensure the quality of our work. We are empathetic and interaction-driven. 
