extends layout

block content
	div.container
		h1 Get in touch with us
		form(name='contact' action='/contact' method='post')
		div.row.no-margin
			div.column.col-1
				div.input-container
					label(for='name') Your Name
					input(id='name' type='text' name='name')
			div.column.col-1
				div.input-container
					label(for='email') Your Email
					input(id='email' type='text' name='email')
				
		div.row
			div.column.col-2
				div.input-container
					label(for='message') Your Message
					textarea(id='message' name='message')
			input(type='submit' value='Send' class='send-btn')
