doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="google-site-verification" content="pDTJWB8422fzD8ZINR0Djp_8QSecfQjhXtX5485TDoE")
		link(rel='stylesheet', href='/stylesheets/main.css')
	
	body
		div.landing-container
			div.main-logo
			p.
				Kuma is a #[a(href='/about') software studio based in Paris]. 
				We design and build user-centric  #[a(href='/work') mobile apps and websites].
				Let's #[a(href='/contact') work together].
				
			footer
				div.container 
					div.separator
					| Made by <a href="/about">Kuma Studio</a> and <a href="http://wkhoury.net">Walid Khoury</a><br>
					| © Kuma Studio 2016
