doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="/components/slick/slick.css")
		link(rel="stylesheet" type="text/css" href="/components/slick/slick-theme.css")
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(src='/javascripts/main.js')
	body
		div(class='nav-bar')
			div.main-logo-wrapper
				a(href="/")
					div.main-logo
			div.nav-menu-wrapper
				ul.nav-menu
					li.menu-item.sm-hide
						div.greyed-out Kuma
					li.menu-item 
						a(href='/about') About
					li.menu-item 
						a(href='/work') Work
					li.menu-item
						a(href='/contact') Contact
		block content
		footer
			div.container 
				div.separator
				| Made by <a href="/about">Kuma Studio</a> and <a href="http://wkhoury.net/">Walid Khoury</a><br>
				| © Kuma Studio 2016
	
