extends layout

block content
  .container
    // Begin MailChimp Signup Form
    #mc_embed_signup
    form#mc-embedded-subscribe-form.validate(action='//works.us12.list-manage.com/subscribe/post?u=6ac288f8f5bdbd844a8583f6b&id=e77eebc5b9', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
      #mc_embed_signup_scroll
        h1 Subscribe to our newsletter
        .mc-field-group
          div.input-container
            label(for='mce-EMAIL') Your Email 
            input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
        p
          a(href='http://us12.campaign-archive1.com/home/?u=6ac288f8f5bdbd844a8583f6b&id=e77eebc5b9', title='View previous campaigns') View previous campaigns.
        #mce-responses.clear
          #mce-error-response.response(style='display:none')
          #mce-success-response.response(style='display:none')
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px;', aria-hidden='true')
          input(type='text', name='b_6ac288f8f5bdbd844a8583f6b_e77eebc5b9', tabindex='-1', value='')
        input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe').subscribe-btn
    // End mc_embed_signup
