extends layout

block content
  div.container.single-work
    h1.zero-margin-bottom= title 
    
    div.role= role
    div.row
      img(src="/images/portfolio/#{title}/Main.png").main-image
    
    div.row
      h2 Why we built it
      p= why
    
    - if(features)  
      div.row
        h2 Noteworthy features
        ul
          each item in features
            li= item

    div.row 
      h2 Status and Timeline
      ul
        each item in timeline
          li !{item}
          
    div.row
      h2 Images
      div.gallery
        - for (var i=1; i <= numberOfPicturesInGallery; i++) {
            div 
              img(src="/images/portfolio/#{title}/#{i}.png")
        - }
      
  script(src="https://code.jquery.com/jquery-1.12.3.min.js")
  script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(type="text/javascript" src="/components/slick/slick.min.js")
  script.
    $('.gallery').slick({
      arrows: true,
    });
