extends layout

block content
  div.container
    div.row
      h1 Work
      - for project in projects.current 
        div.column.col-1.work-item
          a(href="#{project.ref}")
            div.work-logo-container
              img(src="/images/portfolio/#{project.title}/black@2x.png")
          p= project.description
          div.detail !{project.detail}
    div.row
      h1 Previously
      p.work-paragraph.
        Some projects we worked on before creating Kuma. 
        Still, it might be interesting for you to read more about our 
        thought-process.  
        
      - for project in projects.previous 
        div.column.col-1.work-item
          a(href="#{project.ref}")
            div.work-logo-container
              img(src="/images/portfolio/#{project.title}/black@2x.png")
          p= project.description
          div.detail !{project.detail}
